:root {
    --accent-color: #039f9b;
    --background-color: black;
    --secondary-color: #ee9ca7;
}

@media (max-width: 992px) {
    .hero {
        flex-direction: column;
        padding: 0;
        width: 100%;
    }

    .hero-info {
        text-align: center;
        align-items: center;
        min-width: 95%;
    }

    .action {
        justify-content: center;
    }

    .hero-info a {
        min-width: fit-content;
        margin-bottom: 20px;
    }

    #hero-img {
        justify-content: center;
        min-width: 95%;
    }
}

@media (max-width: 576px) {
    .navbar-list {
        background-color: var(--accent-color);
        width: 100%;
        height: calc(100vh - 80px);
        position: absolute;
        left: 0;
        top: 80px;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transform: translateX(200%);
        transition: all 0.4s ease-out;
    }

    .navbar i {
        display: block;
    }

    #toggle-menu:checked + .navbar-list {

        transform: translateX(0%);
        transition: all 0.4s ease-in;

    }
}