body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    align-items: center;
    background-color: purple;
    justify-content: space-between;
    padding: 10px;

}

.navbar-list {
    display: flex;
    gap: 10px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: grey;
}

.logo {
    max-width: 80px;
}


